{% extends "base.html" %}

{% block head %}
<title>{{name}} | Period 4</title>
{% endblock %}

<!-- Period 2 Project links -->
{% block title %}
<h1>Period 4 Projects</h1>
{% endblock %}


{% block link1 %}
<a href="https://repl.it/join/entspfxi-ibraskyy" class="btn">Who Wants to be a Millionaire<h6>Sriya Chilla, Sam Mahjouri, Francis Lim, Bryce Modugno, Quentin Chong</h6></a>
{% endblock %}
{% block link2 %}
<a href="Guesser game" class="btn">Guesser Game<h6>Lola Bulkin, William Cherres, Brayden Basinger, Grace Le, Ryan Moghaddas</h6></a>
{% endblock %}
{% block link3 %}
<a href="https://photography.fruitycoders.repl.co/" class="btn">Photography Web <h6>Pragadeesh, Ayman, Ali, Brandon, Navodit</h6></a>
{% endblock %}
{% block link4 %}
<a href="https://repl.it/@lukemanning224/P4bang#README.md " class="btn">Monkey Math<h6>Nathaniel Lee, Aiden Tung, Ryan Luo, Luke Manning, and Jaideep Bollu</h6></a>
{% endblock %}
{% block link5 %}
<a href="https://repl.it/@AbhijayDeevi/TableOfContents" class="btn">Casino Game<h6>Abhijay Deevi, Kevin Do, Travis Medley, Paul Bokelman, Gavin Therault</h6></a>
{% endblock %}
{% block link6 %}
<a href="https://repl.it/@Ryanshay18/ResponsibleFastDesignmethod#README.md" class="btn">Mad Libs<h6>Ava Brooks, Ketki Chakradeo, Iniyaa Mohanraj, Lucas Bruner, Ryan Shay</h6></a>
{% endblock %}