{% extends "base.html" %}

{% block head %}
<title>{{name}} | Period 2</title>
{% endblock %}

<!-- Period 2 Project links -->
{% block title %}
<h1>Period 2 Projects</h1>
{% endblock %}

{% block link1 %}
<a href="https://repl.it/@AndrewZhang4/MadLib#README.md" class="btn">Madlib Game<h6>Andrew, Bradley, Shreya, Diane, Nicholas</h6></a>
{% endblock %}
{% block link2 %}
<a href="https://repl.it/@dkrenz/period-2-group#READMEFIRST.md" class="btn">Newbie Shop<h6>Andrea, Wesley, Diego, Ethan, Naweid</h6></a>
{% endblock %}
{% block link3 %}
<a href="https://repl.it/@AZPragTeam/ThisIsItBois#README.md" class="btn">ASCII Database<h6>Pragadeesh, Ayman, Ali, Brandon, Navodit</h6></a>
{% endblock %}
{% block link4 %}
<a href="https://repl.it/@ryazhisai/Rap-Name-Generator#README.md" class="btn">Rap Name Generator<h6>Sophie, Carter, Aditi, Isai, Mustafa</h6></a>
{% endblock %}
{% block link5 %}
<a href="https://repl.it/@DaneVestal/Project-1#README.md" class="btn">Trivia Game<h6>Crystal, Ida, Eva, Dane, Nivu</h6></a>
{% endblock %}
{% block link6 %}
<a href="https://repl.it/@TMarwah/Team3-SSH-Login#README.md" class="btn">PacMan Corps Information™ SSH Shell<h6>Tanmay, Andrew, Ahmad, Luca, Mileta, Cody</h6></a>
{% endblock %}