{% extends "base.html" %}

{% block head %}
<title>{{name}} | Period 5 </title>
{% endblock %}

<!-- Project Information  -->
{% block title %}
<h1>Period 5 Projects</h1>
{% endblock %}

{% block link1 %}
<a href="https://repl.it/@ValerieMiliteev/SnakeProj" class="btn">Snake Game<h4>Valerie, Aiden, Risa, Michael, Anthony</h4></a>
{% endblock %}
{% block link2 %}
<a href="https://repl.it/@JSinghSD/CS-P-Tic-Tac-Toe-Groop#README.md" class="btn">Tic Tac Toe Game<h4>Roop, Pedro, Arul, Colin, Manuel</h4></a>
{% endblock %}
{% block link3 %}
<a href="https://repl.it/@KianKishimoto/HauntedHouseSim#README.md" class="btn">Haunted House Sim<h4>Kian, Megan, Christopher, Komay, Ridhima</h4></a>
{% endblock %}
{% block link4 %}
<a href="https://repl.it/@noyahafiz/Python-Hello-Series#README.md" class="btn">Turtle Hurtle<h4>Akhilesh, AK, Noya, Karam, Max</h4></a>
{% endblock %}
{% block link5 %}
<a href="https://repl.it/@KyleMyint/ChessOO-1#main.py" class="btn">ASCII Chess</a>
{% endblock %}
{% block link6 %}
<a href="https://repl.it/join/vtizzpnn-purplebears321" class="btn">Resources</a>
{% endblock %}
{% block link7 %}
<a href="" class="btn"></a>
{% endblock %}